{% extends "base.html" %}

{% block content %}
  <h1>
    Group List
    <a href=""
       class="btn btn-primary link-to-page ms-5 mt-5">
      Add Group
    </a>
  </h1>
  <hr>
  {% if customgroup_list %}
    <table class="table w-75">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Data Analytics</th>
        <th scope="col">Services Analytics</th>
        <th scope="col">Voice Analytics</th>
        <th scope="col">Queue Stats</th>
        <th scope="col">Voice Stats</th>
        <th scope="col">Video</th>
        <th scope="col">Smart Access</th>
        <th scope="col">Diagrams</th>
      </tr>
      </thead>
      <tbody>
      {% for group in customgroup_list %}
        <tr>
          <th scope="row">{{ group.id }}</th>
          <td>{{ group.name }}</td>
          <td>
            {% if group.data_analytics %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            {% if group.services_analytics %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            {% if group.voice_analytics %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            {% if group.queue_stats %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            {% if group.voice_stats %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            {% if group.video %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            {% if group.smart_access %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            {% if group.diagrams %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            <a href="" class="btn btn-outline-gray btn-sm mb-2">Edit</a>
            <a href="" class="btn btn-outline-danger btn-sm">Delete</a>
          </td>
      </tbody>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no groups</p>
  {% endif %}
{% endblock %}