{% extends "base.html" %}

{% block content %}
  <h1>
    User List
    <a href="{% url 'app:user-create' %}"
       class="btn btn-primary link-to-page ms-5 mt-5">
      Add User
    </a>
  </h1>
  <hr>
  {% if user_list %}
    <table class="table">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Email</th>
        <th scope="col">Group</th>
        <th scope="col">Admin</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for user in user_list %}
        <tr>
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.email }}</td>
          <td>{{ user.group }}</td>
          <td>
            {% if user.is_staff %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked disabled/>
            {% else %}
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
            {% endif %}
          </td>
          <td>
            <a href="{% url 'app:user-update' user.id %}" class="btn btn-outline-gray">Edit</a>
            <a href="" class="btn btn-outline-danger">Delete</a>
          </td>
      </tbody>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no users</p>
  {% endif %}
{% endblock %}